/* em is relavtie to the parents font size */
/* rem is relevant to the root's font size-html */

:root {
    font-size: 16px;
}

html {
    font-size: 24px;
}

body {
    font-size: 48px;
}

.typography {
    margin-top: 160px;
    text-align: center;

    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: Roboto, Arial;
}

.styled-div {
    font-size: 2rem;
}